.footer { 
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff0090;
    color: #fff;
}

.footer span {
    font-weight: bold;
    color: #ffffff;
}